---
import "../styles/global.css";
import { ToasterProvider } from "@/components/ToasterProvider";

interface Props {
  title?: string;
}

const { title = "10x Astro Starter" } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
    <ToasterProvider client:load />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    min-height: 100%;
  }

  html {
    color-scheme: light dark;
  }
</style>
